.game-hands-show {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: repeat(2, minmax(0, 1fr));
    align-items: flex-end;
    justify-items: center;

    overflow: hidden;
    min-height: 100vh;
}

.opponent-hand {
    align-self: flex-start;

    transform: rotate(180deg);
}

.my-hand {
    transform: translateY(-25px);
}
